<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beth's Bike Ride API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Welcome to Beth's Bike Ride API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form action="/api/routes" method="PUT">
            <h4 id="filters"> Filter Rides </h4>
            <input id="maxMiles" type="text" value="Max distance (miles)">
            <input type="submit" value="Submit">
            <br>
            <input id="maxFeet" type="text" value="Max elevation gain (feet)">
            <input type="submit" value="Submit">
            <br>
            <div id="routes">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
